pkgbase = dbx
	pkgdesc = Open-source database management tool (Tauri-based)
	pkgver = 0.5.5
	pkgrel = 1
	url = https://github.com/t8y2/dbx
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = rust
	makedepends = cargo
	makedepends = nodejs
	makedepends = pnpm
	makedepends = pkgconf
	makedepends = git
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = sqlite
	depends = unixodbc
	depends = openssl
	depends = hicolor-icon-theme
	provides = dbx
	conflicts = dbx-bin
	options = !lto
	source = dbx-0.5.5.tar.gz::https://github.com/t8y2/dbx/archive/refs/tags/v0.5.5.tar.gz
	sha256sums = 9fa294a39e9ee01467bd4ed9dffe24671288ebefe6ac45b42d99687b84427971

pkgname = dbx
